---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Meta OT, 'Lato', sans-serif;
$base-font-size:   16px;
$small-font-family: 'Source Sans Pro', sans-serif;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F2EBEA;
$brand-color:      #2a7ae2;

$grey-color:   #33262C; 
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$trello-blue: #0079bf;
$trello-blue-dark: darken($trello-blue, 20%);
$burnt-orange: #bf4600;
$bright-red: #e73640;
$dark-blue: rgb(25, 34, 54);
$dark-red: #36011D;
$red: #440514;
$pink: #E1565E;
$main-red: #B7172D;
$main-blue: #130B39;
$grey-selected: #fafafa;
$main-pink: #F46F6C;
$nav-grey: #F7F7F7;

// Width of the content area
$content-width:    800px;

$on-palm:          480px;
$on-tablet:        800px;
$on-laptop:        1024px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "mixins"
;


.site-nav .trigger a:hover {
        opacity: 1;
        text-decoration: underline;
}


.home-header {
    height: 90%;
    min-height: 56px;
    position: relative;
    border: none;
    font-weight: 100;
    margin: 2.5%;
    @include media-query($on-palm) {    
        margin: 10px;
    }
}

.home-header .wrapper {
        width: 46%;
        margin-left: 17%;
        top: 25%;
        position: relative;
        font-family: "Source Sans Pro", sans-serif;
        background: rgba(4, 3, 1, 0.38);
        padding: 25px;
        color: #C7BDB0;
        font-size: 26px;
        a {
          color: #C7BDB0;
          // text-decoration: underline;
        }
        a:hover {
          color: white;
        }
        @include media-query($on-palm) { 
            width: auto;
            margin: 15px;
            padding: 15px;
            font-size: 20px;
            line-height: 1.25;
            top: 15%;
        }
    }

.home-header .background {
    background: url({{ site.baseurl }}/assets/img/cloisters-2.jpg) 0px 100% no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include media-query($on-tablet) {
        background-size: cover;
    }
    @include media-query($on-palm) {
        background: url({{ site.baseurl }}/assets/img/cloisters-mobile.jpg) 50% no-repeat;
        background-size: auto 100%;
    }
}

.home-header #site-title {
    font-family: 'Bree Serif', serif;
    color: white;
    margin: 10px 5px 10px 0;
    font-size: 56px;
    letter-spacing: 1px;
    margin-bottom: 0;
    float: none;
    text-decoration: none;
    line-height: 1;
    text-rendering: geometricPrecision;
    @include media-query($on-palm) {
        padding-right: 0;
        font-size: 50px;
    }
}

.home-header .site-nav {
    top: 0;
    display: block;
    position: relative;
    padding-left: 0;
    .page-link {
        color: white;
        font-size: 16px;
      }
     @include media-query($on-palm) {
        margin-top: 10px;
        
      }
    }

.sticky-nav {
    min-height: 50px;
    position: fixed;
    background: white; // #f5f5f5
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #eee;
    top: 0;
    height: auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.08);
    .site-title {
      font-size: 20px;
      color: $text-color;
    }
    .background {
      display: none;
    }
    .wrapper {
      padding: 0 10px;
    }
    .site-nav {
      top: 15px;
       .page-link {
        color: $text-color;
      @include media-query($on-palm) {
        font-size: 11px;
        padding: 0;
        top: 20px;
        }
      }

    }
}

/*#home {
  background: none;
  color: white;
  border: none;
  font-size: 20px;
  line-height: 2;
}*/

#home img {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    width: 300px;
    margin-left: 20%;
     @include media-query($on-palm) {
                margin-left: 0;
            }
}

#home.post p {
  padding-top: 10px;
}

#home.post .credit {
  font-size: 12px;
  text-align: right;
  color: $text-color;
  margin-right: 20%;
   @include media-query($on-palm) {
                margin-right: 0;
            }
}


.ui-page { -webkit-backface-visibility: hidden; }

.resume {
        margin-left: 0;

        h2 {
            font-size: 22px;
            border-top: 1px solid #dddddd;
            padding: 10px 0;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }
        h4, h5 {
            font-size: $small-font-size;
            font-weight: 200;
            color: grey;
        }
        h5 {
            float: right;
            
        }
        li {
            font-family: $small-font-family;
            margin: 10px;
            margin-left:  50px; 
            font-size: $base-font-size;
            @include media-query($on-palm) {
                margin-left: 15px;
            }
        }
        a {
            color: $text-color;
            font-style: bold;
        }
        
}

.resume h2:first-of-type {
          margin-top: 0px;
        }


.fa-2x {
    font-size: 1.5em;
    padding: 5px;
}

.fa-download {
    float: right;
    padding: 15px 0;
    @include media-query($on-palm) {
    display: none;
  } 
}

.fa-youtube-play {
  padding-right: 10px;
}

/*---Player Styles-------------------------------------*/

.player {

 }

.jp-audio {
  width: 100%;
  position: relative; 
}

.jp-progress {
  width: 100%;
  height: 10px;
  background: #B3AFAF;
}

.jp-play-bar {
  background-color: #440514;
  height: 10px; 
}

.jp-gui {
position: fixed;
    right: 25%;
    top: 0;
    background: #F4EEEF;
    z-index: 1;
    transition: all .15s ease-in-out;
    @include media-query($on-palm) {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      top: initial;
      width: 100%;
      background: #F4EEEF;
        .jp-time-holder, .jp-controls {
            display: block;
            }  
        .jp-duration {
            float: right;
          }           
     }
 }

.fa-fast-forward {
  margin-left: 290px; 
}

.fa-volume-up {
  margin-left: 210px; 
}
.jp-volume-bar {
  height: 5px;
  width: 50%;
  background-color: #b04856;
  position: absolute;
  bottom: 0px;
  margin-left: 35px;
  margin-bottom: 5px; 
}
.jp-time-holder, .jp-controls {
  display: inline-block;
}
.jp-controls {
  float: left;
  @include media-query($on-palm) {
    float: none;
  }
}
.jp-current-time {
  display: none;
}

.jp-duration {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 400;
}

.jp-playlist {
  display: inherit;
  margin-top: 20px;
  ul {
    list-style: none;
    font-size: 20px;
    margin: 0;
  }
  .source:before {
    content: "StoryCorps | NPR";
  }
  a {
    font-weight: 400;
    outline: none;
  }
  .jp-playlist-item:before {

  }
}

.jp-state-playing .jp-playlist-current {
  outline: none;
  h4:after {
    float: right;
    content: "Now Playing";
    font-style: italic;
    cursor: default;
    color: #8C3944;
  }
  h4 {
    
  }
}
.jp-state-playing div.jp-type-playlist {
  .fa-play {
    display: none;
  }
  .fa-pause {
    display: inherit;
  }
}

.jp-controls button {
  // color: #440514;
  padding: 10px;
}

.all-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none; 
}

.fa-play-circle-o {
  color: #8C3944;
  position: absolute;
  top: 36%;
  right: 40%;
  display: inherit; 
}

.fa-pause {
  display: none; 
}

.jp-volume-max {
}


/**/







