---
layout: default
---
<style type="text/css">
.post-title {
  color: #0079bf;
}

</style>

<div class="post">

  <header class="post-header">
    <span class="post-title">About</span>      
    
  </header>

  <ul class="post-list">
    {% for post in site.posts %}
     	{% if site.category %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p>I’m Emily, and I love storytelling. I recently received my master’s in journalism at the Columbia University Graduate School of Journalism, where I learned how to tell all kinds of stories: long ones, short ones, in print and radio, stories through photo and video, through code and design, stories about you and stories about me (hint: this is one). Yes, I was an English major at Binghamton University. I’m also a poet and from NYC.

Fortunately, my story doesn’t end here, but my bio does.</p>


  </div>