<footer data-role="footer" class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }} </p>
          <p>&#169; {{ site.time | date: "%Y"}} Emily Martinez</p>
      </div>
    </div>

  </div>



</footer>
  <script src="{{ site.baseurl }}/assets/js/lib/jquery-1.11.3.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/lib/jquery.mobile.custom.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/lib/jquery.jplayer.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/lib/player.playlist.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/lib/hammer.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>