
<div class="sidebar">
  
<img src="{{ site.baseurl }}/assets/img/DSC00980.jpg">
<p class="credit">(Photo by Wanyu Zhang)</p>
  <header class="post-header">
    <span class="post-title">About</span>      
    
  </header>
  <p>I am a multimedia journalist specializing in interactive design. Currently, I help design longform editorial projects as a design fellow at <a href="https://www.propublica.org">ProPublica</a>. Drawing on my background in narrative storytelling and radio production, I offer a set of versatile skills to a small, nimble team. 
  </p>

           <p><span>
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i>
          </span> Get in touch </a>
          </p>

</div>