
<div class="sidebar">
  
<img src="{{ site.baseurl }}/assets/img/DSC00980.jpg">
<p class="credit">(Photo by Wanyu Zhang)</p>
  <header class="post-header">
    <span class="post-title">About</span>      
    
  </header>
 <p>I am a multimedia journalist specializing in narrative storytelling and interactive design. I am currently a production assistant at <a href="https://storycorps.org/">StoryCorps</a>. Previously, I was a design fellow at <a href="https://www.propublica.org">ProPublica</a>, where I helped design longform editorial projects. 
  </p>

           <p><span>
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i>
          </span> Get in touch </a>
          </p>

</div>