<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="home-header">
<div class="background"></div>
  <div class="wrapper">
     
      <span><a id="site-title" href="{{ site.baseurl }}/">Emily Martinez</a></span><br> is a multimedia journalist in New York. She has a background in <a href="{{ "/portfolio/audio/" | prepend: site.url }}">radio</a>  production and interactive <a href="{{ "/portfolio/design/" | prepend: site.url }}">design</a>.
    
        <nav class="site-nav">

      <div class="trigger">

        {% for page in site.pages %}
        {% if page.title %}
          <a class="page-link {{ page.nav-class }}" href="{{ page.url | prepend: site.baseurl }}"  data-transition="slide">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>


  </body>
</html>
